@page
@model DeskMotion.Pages.Admin.Metadata.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeskMetadata</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskMetadata.MacAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskMetadata.MacAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskMetadata.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskMetadata.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskMetadata.QRCodeData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskMetadata.QRCodeData)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DeskMetadata.Id" class="action-link">Edit</a> |
    <a asp-page="./Index" class="action-link">Back to List</a>
</div>
