@page
@model DeskMotion.Pages.Admin.Desks.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["ActivePage"] = ManageNavPages.Desks;
}

<h1>Desk Records</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].RecordedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].IsLatest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].MacAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Desk)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLatest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MacAddress)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="action-link">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="action-link">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
