@page
@model DeskMotion.Pages.Admin.Desks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].RecordedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].IsLatest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].MacAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Desk) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecordedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLatest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MacAddress)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
