@page
@model DeskMotion.Pages.Admin.Reservations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>See Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="details-title">
            User
        </dt>
        <dd class="details-input">
            @Model.UserName
        </dd>
        <dt class="details-title">
            Desk MAC Address
        </dt>
        <dd class="details-input">
            @Model.DeskMacAddress
        </dd>
        <dt class="details-title">
            Start Time
        </dt>
        <dd class="details-input">
            @Model.Reservation.StartTime.ToLocalTime().ToString("yyyy-MM-dd HH:mm")
        </dd>
        <dt class="details-title">
            End Time
        </dt>
        <dd class="details-input">
            @Model.Reservation.EndTime.ToLocalTime().ToString("yyyy-MM-dd HH:mm")
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reservation.Id" class="btn action-link"><span class="button-back">Edit</span></a> 
    <a asp-page="Index" class="btn btn-primary action-link"><span class="button-back">Back to List</span></a>
</div>

<style>
    .btn{
    width: 150px;
    margin-right: 20px;

    }
    .button-back{
    width: 150px;
    margin-right: 20px;
    }
</style>