@page
@model DeskMotion.Pages.Admin.Reservations.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["ActivePage"] = ManageNavPages.Reservations;
}

<h1>Reservations</h1>
<h2>Overview</h2>
<p>
    <a asp-page="Create" class="btn action-link"><span class="button-back">Create New</span></a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Desk MAC Address
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservation)
        {
            <tr>
                <td>
                    @(Model.UserNames.TryGetValue(item.UserId, out var userName) ? userName : "Unknown User")
                </td>
                <td>
                    @(Model.DeskMacAddresses.TryGetValue(item.DeskMetadataId, out var macAddress) ? macAddress : "Unknown Desk")
                </td>
                <td>
                    @item.StartTime.ToLocalTime().ToString("yyyy-MM-dd HH:mm")
                </td>
                <td>
                    @item.EndTime.ToLocalTime().ToString("yyyy-MM-dd HH:mm")
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="action-link">Edit</a> |
					<a asp-page="./Details" asp-route-id="@item.Id" class="action-link">Details</a> |
					<a asp-page="./Delete" asp-route-id="@item.Id" class="action-link">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
